.features .heading {
    text-align: center;
    font-size: 3.5rem;
    color: black;
    padding: 15rem 0 3rem 0;
  }
  .features span {
    background: #FB7102;
    color: #fff;
    display: inline-block;
    padding: 0.5rem 3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0 100%, 7% 50%, 0 0);
  }
  .features .content .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    flex-wrap: wrap;
  }
  .features .content .box-container .box {
    text-align: center;
    box-shadow:  0 0.5rem 1.5rem rgba(0,0,0,0.1);
    outline:  0.1rem solid rgba(0,0,0,0.1);;
    outline-offset: -1rem;
    padding: 3rem 2rem;
    transition: linear 0.2s;
    background: #fff;
  }
  .features .content .box-container .box:hover {
    outline-offset: 0;
    outline: 0.2rem solid black;
  }
  .features .content .box-container .box img {
    height: 15rem;
    margin: 1rem 0;
    margin-left: 81px;
  }
  .features .content .box-container .box h3 {
    font-size: 2.5rem;
    line-height: 1.8;
    color: black;
  }
  .features .content .box-container .box p {
    font-size: 1.55rem;
    line-height: 1.8;
    color: #666;
    padding: 1rem 0;
  }
  .features .content .box-container .box a:hover {
    background: #61B846;
  }
  .btn_feature{
    margin-top: 1rem;
    display: inline-block;
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    color: #130f40;
    color: rgb(255, 255, 255);
    border: 0.2rem solid #130f40;
    border: 0.2rem solid var(--black);
    border-radius: 0.5rem;
    cursor: pointer;
    background: none;
  }
  section {
    padding: 2rem 9%;
}