* {
  margin: 0;
  padding: 0;
}
h2 {
  text-align: left;
  color: #61b846;
  font-size: 35px;
}
h6 {
  color: #024f9d;
  text-align: left;
  margin-top: -20px;
  font-size: 20px;
}
img {
  display: flex;
  justify-content: center;
}
.Main_text {
  text-align: center;
  color: #61b846;
  margin-top: -300px;
}
.text {
  text-align: center;
  color: black;
  margin-top: 20px;
}
.shopnow {
  background-color: #61b846;
  outline: black;
  box-shadow: none;
  margin-left: 572px;
}
.shopnow :hover {
  background-color: #61b846;
  transition: 0.6s;
}
